from enum import IntFlag
from output import basics


class {{ bitflags.attrib.name }}({{ bitflags.attrib.storage | to_basic_type }}, IntFlag):
    """{{ bitflags.text | escape_backslashes | trim }}"""
{% for option in bitflags.iter('option') %}
    {%- if option.text %}
    # {{ option.text | escape_backslashes | trim }}
    {%- endif %}
    {{ option.attrib.name | enum_name }} = {{ option.attrib.bit | bitflag }}
{%- endfor %}
