from output import basics
from source import BitfieldMember


class {{ bitfield.attrib.name }}({{ bitfield.attrib.storage | to_basic_type }}, int):
    """{{ bitfield.text | escape_backslashes | trim }}"""
{% for member in bitfield.iter('member') %}
    {%- if member.text %}
    # {{ member.text | escape_backslashes | trim }}
    {%- endif %}
    {{ member.attrib.name | field_name }} = BitfieldMember(pos={{ member.attrib.pos}}, mask={{ member.attrib.mask}}, return_type={{ member.attrib.type}})
{%- endfor %}
